<header style='border-bottom: 1px solid #eee; padding: 0.5rem;'>
  <div
    style='display: flex; font-size: 1em; width: 80%; margin: auto; min-width: 20vmax; max-width: 40vmax;'
  >
    <div style='display: flex;'>
      <img
        src='{{image}}'
        alt='{{title}}'
        width='40'
        height='40'
        style='border-radius: 50%; margin: auto 0;'
      />
      <h2
        style='text-align: center; margin: auto 0; margin-left: 0.5rem;'
      >SnapPoll 안내 메일</h2>
    </div>
  </div>
</header>