
<div class='d-flex mx-auto w-25 flex-column justify-content-center gap-2 text-center'>
  <h2 class='fw-bold'>404</h2>
  <h4 class='fw-bold'>페이지를 찾지 못했습니다.</h4>
  <div>
    <button class="btn btn-info" onclick="location='/manage'">메인으로</button>
  </div>
</div>